<%= simple_form_for [@event, @event.attendances.build], defaults: { wrapper_html: { class: 'row' } } do |f| %>
    <div id="member_ids" name="attendance[member_ids][]" class="chips chips-autocomplete chips-placeholder tooltipped" data-tooltip="Tekan Enter untuk memasukkan data">
    </div>
    <%= f.button :submit, "Simpan Data", class: "btn-margin-r-10" %>
<% end %>
<script>

    $(document).ready(function(){
        $('.chips').chips();

        $('.chips-placeholder').chips({
            placeholder: 'Enter a tag',
            secondaryPlaceholder: '+Tag',
        });

        $('.chips-autocomplete').chips({
            autocompleteOptions: {
                data: {
                    <% @members.each do |m| %>
                        '<%= m.name %>': null,
                    <% end %>
                },
                limit: Infinity,
                minLength: 2
            }
        });
    });
</script>