// Place all the styles related to the Cetyas controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

 .cetya-container {
     margin-top: 5px;
     font-size: 14pt;
     background-color: #29303d ;
 }

 .cetya-container:hover {
    background-color: #2e3644 ;
 }

 .cetya-data {
     padding: 10px;
 }