// Place all the styles related to the Events controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

 .flex-content-events{
    background-color: #29303d;
    width: 45%;
    margin: 10px;
    padding-left: 10px;
    padding-right: 10px;
    box-shadow: 4px 4px 12px rgb(0, 0, 0);
    transition: linear 0.2s;
 }

 .flex-content-events:hover{
     background-color: #2e3644;
    box-shadow: 8px 8px 8px black;
 }