// Place all the styles related to the Members controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.flex-content-members{
    background-color: #29303d;
    border-radius: 5px;
    width: 22%;
    margin: 10px;
    padding-left: 10px;
    padding-right: 10px;
    box-shadow: 2px 2px 8px black;
    transition: linear 0.2s;
 }

 .flex-content-members:hover{
    background-color: #2e3644;
    box-shadow: 8px 8px 8px black;
 }

 .member-avatar {
     display: block;
     margin-left: auto;
     border-radius: 5px;
     max-width: 300px;
     max-height: 300px;
 }