<div class="container">
    <div class="row">
        <%= link_to new_member_path, class: "add-member btn" do %>
            <i class="material-icons"> add </i>
        <% end %>
    </div>
    <div class="row">
        <h1>PUT ALL MEMBERS DESIGN HERE.</h1>
    </div>
</div>