<div class="container">
    <div class="row">
        <%= link_to new_member_path, class: "add-member btn" do %>
            <i class="material-icons"> add </i>
        <% end %>
    </div>
    <div class="row">
        <% if @members.blank? %>
            No data found!
        <% else %>
        <div class="flex-container">
            <% @members.each do |m| %>
                <div class="flex-content">
                    <p class="name">
                        <%= m.name %>
                    </p>
                </div>
            <% end %>
        </div>
        <% end %>
    </div>
</div>