<div class="container">
    <div class="row">
        <h4>Pengisian Data Baru GM</h4>
    </div>
    <%= render  "form" %>
</div>

<script>
$(document).ready(function(){
    // Dropdown menu
    $('select').formSelect();

    // Date picker.
    var thisYear = new Date().getFullYear()
    $('.datepicker').datepicker({
        yearRange: [thisYear - 50, thisYear]
    });
});
</script>